@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
  /* margin: 0; */
  font-family: 'Poppins', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  min-height: 100vh;
  /* background: linear-gradient(-35deg, #000428 0%, #004e92); */
  background-image: linear-gradient(to left bottom, #22223b, #20233b, #1f243b, #1d243b, #1c253b, #232d44, #2a354c, #313e55, #425169, #53647e, #657893, #778da9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
